# Executables
*.exe
*.out
*.app

# Compiled Object files
*.slo
*.lo
*.o
*.ko

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.lib

# Compiled Static libraries
*.lai
*.la
*.a

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# misc
build/
Doxyfile
src/version.h
tests/xpd.cf
.DS_Store
*.swp
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
*.xcodeproj


# VS Code
.vscode/

# Version file
version
